.game-u-i {
    width: 100%;
    height: 100%;
}

*{
    white-space: normal;
    align-items: center;
    -unity-text-align: middle-center;
}

.ScrollViewContent {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.StartingLabel{
    width: 100%;
}

.LeftTextAlign{
    -unity-text-align: middle-left;
}

.HorizontalLayout{
    width: 100%;
    flex-direction: row;
}

.VerticalLayout{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}